html {
  font-size: 62.5%;
  box-sizing: inherit; }

*,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh; }

h1 {
  font-size: inherit;
  font-weight: inherit; }

a {
  text-decoration: none; }

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #19a2ae;
  color: #2d3248;
  font-size: 1.6rem;
  overflow: hidden; }

.background-img {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

.pattern {
  position: absolute; }
  .pattern__top {
    top: -68%;
    left: -20%; }
  .pattern__bottom {
    bottom: -88%;
    right: -16%; }

.card {
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  position: absolute; }
  .card__background {
    position: relative; }
  .card__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card__name {
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 6.9rem;
    margin-bottom: 0.9rem; }
  .card__age {
    font-weight: 400;
    color: #969696;
    margin-left: 0.5rem; }
  .card__city {
    color: #969696;
    font-size: 1.4rem;
    margin-bottom: 2.3rem; }
  .card__line {
    width: 100%;
    border-top: 0.5px solid #969696; }
  .card__data-box {
    width: 100%; }
    .card__data-box--main {
      padding: 2.5rem 2.5rem;
      display: flex; }
    .card__data-box--sub {
      text-align: center;
      justify-content: space-between; }
  .card__number {
    font-weight: 700;
    margin-bottom: 0.4rem;
    font-size: 1.8rem; }
  .card__asset {
    font-size: 1.1rem;
    letter-spacing: 1px; }
  .card__avatar {
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 8.8rem;
    left: 50%;
    transform: translateX(-50%); }

@media screen and (max-width: 450px) {
  .pattern {
    position: absolute; }
    .pattern__top {
      top: -90%;
      left: -200%; }
    .pattern__bottom {
      bottom: -82%;
      right: -202%; }
  .card {
    width: 86%; } }
